body::before {
    content: "";
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: -1; 
    background: url('/img/travel.webp') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.4; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    position: relative;
}

#airplane-logo {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows the items to wrap to the next line on smaller screens */
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.flight-box {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.flight-box:hover {
    transform: scale(1.05);
}

.flight-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.flight-box p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    display: none;
    object-fit: cover;
    height: 500px;
}

.carousel-image.active {
    display: block;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    #airplane-logo {
        width: 70px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    .flight-box {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .flight-box {
        width: 100%;
    }
}
